extend layout
block content
	div(class='search-view-wrap')
		div(class='search-view')
			div(class='search-view-padding')
				input(class='search-key' type='text')
				ul(class='employee-list')
	include app-general