input
,textarea
,select
,button 
	font-family 'yanone_kaffeesatzlight'
	font-size 20px
	color #666
	background #f6f6f6
	width 200px
	padding 7px 10px
	margin-right 3px
	border 1px solid #b9b9b9
	border-top-color #a4a4a4
	-moz-box-shadow		0 1px 0 #fff inset 0 1px 1px rgba(0,0,0,0.17)
	-ms-box-shadow		0 1px 0 #fff inset 0 1px 1px rgba(0,0,0,0.17)
	-webkit-box-shadow	0 1px 0 #fff inset 0 1px 1px rgba(0,0,0,0.17)
	box-shadow			0 1px 0 #fff inset 0 1px 1px rgba(0,0,0,0.17)
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-webkit-border-radius 3px
	border-radius 3px
	float left
	

.sbtBtn 
	width auto
	border 0px
	background-color $color-primary
	color #fff
	-moz-box-shadow none
	-ms-box-shadow none
	-webkit-box-shadow none
	-webkit-box-shadow none
	box-shadow none
	cursor pointer
	float left
	
.sbtCheckout
	width auto
	height auto
	margin-top 15px
	margin-right 15px
	float right
	
.noRightMargin
	margin-right 0px	
		
.checkout
	float right
	
#sbt-view-cart
	display none

.input-short
	width 43.9%

.input-long
	width 93.5%
	
	
.sbtBtn:hover
,.sbtBtn:active
	background rgba(248,245,176,1)
	color rgba(208,65,134,1)
	border 0px

.button-right
	float right
	margin-right 10px