/* #Website 320 // 
================================================== */

$content-width = $sizing_320 - ($spacing_320 * 2)

@media only screen and (max-width: 479px)
	
	.app-header-style
		width 100%
		background $color_first
		height 150px

		.app-header-text-style
			width $content-width
			margin 0 auto
			
			h1 
				fontlight()
				font-size $base_h1_320
				widthHeightAuto()
				color $white
				padding 20px
				
	.search-view-wrap
		width 100%
		height 150px
		
		.search-view
			width $content-width
			margin 0 auto
			
			.search-view-padding
				padding 20px